/* body {
    background-color: #E5E5E5;
} */

.fixedContainer {
    display: flex;
    flex-direction: column;
    margin: -10px 0;
    align-items: center;
    justify-content: center;
}



.headerAndPlanYourTrip {
    background-image: url(../img/headerAndSectionPic.png);
    color: white;
    background-repeat: no-repeat;
    size: 100%;
    width: 1440px;
    height: 765px;
}



header {
    display: flex;
    background-color: rgba(242, 120, 92, 0.7);
    height: 90px;
    /* justify-content: center; */
    align-items: center;


}

.headerLogo {
    display: flex;

    @font-face {
        src: url('../styles/fonts/Magra/Magra-Regular.ttf');
        src: url('../styles/fonts/Magra/Magra-Bold.ttf');
    }

    font-family: "Magra-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin-left: 120px;
}

.headerLogo div {
    white-space: nowrap;
    margin-left: 5px;
    cursor: pointer;
}

.headerNav {
    display: flex;
    margin-left: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.headerNav div {
    margin: 0 20px;
    white-space: nowrap;
    cursor: pointer;

}

.headerLoginBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 103px;
    height: 41px;
    top: 25px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    margin-left: 200px;
    cursor: pointer;

}

.planYourTrip {
    margin-left: 120px;
    height: 422px;
    width: 900px;
    margin-top: -40px;

}

.planYourTrip h1 {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 25px;
}

.planYTsuptext {
    margin-left: 5px;
    margin-bottom: 35px;
}

.planYTsearch {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    width: 900px;
    height: 90px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #F2785C;
    padding: 0 40px;
    box-sizing: border-box;
}

::placeholder {
    color: #F2785C;
    margin-left: 40px;
    /* text-indent: 40px; */

}

.searchContainer {
    display: flex;
    position: relative;
}

.planYTsearchButton {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 230px;
    height: 60px;
    top: 25px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    margin-left: 160px;
    cursor: pointer;
    margin-left: 650px;
    margin-top: -10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.threeStepsH2 {
    margin-top: 60px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    flex: 0 0 100%;
    text-align: center;
}

.threeSteps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.firstStep {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstStepTitle {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.secondStep {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.secondStepTitle {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.thirdStep {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thirdStepTitle {
    margin-top: 20px;
    display: inline-block;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.popularDestinations {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    margin-top: 100px;
}

.sliderContainer {
    position: relative;
    height: 800px;
    width: 800px;
}

.sliderContainer .sliderWrapper {
    height: 800px;
    width: 1000px;
    margin: 5rem auto;
    /* overflow: hidden; */
}

.sliderContainer .sliderHolder {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    height: 100%;
    animation: slide 15s ease infinite;
}

.sliderContainer #sliderImage-1 {
    background: url(../img/SPAIN.png);
    background-repeat: no-repeat;
}

.sliderContainer #sliderImage-2 {
    background: url(../img/JAPAN.png);
    background-repeat: no-repeat;
}

.sliderContainer #sliderImage-3 {
    background: url(../img/USA.png);
    background-repeat: no-repeat;
}

.sliderContainer .sliderImage-1-Title {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-top: 730px;
    margin-left: 30px;
}

.sliderContainer .sliderImage-2-Title {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 730px;
    margin-left: 30px;
}

.sliderContainer .sliderImage-3-Title {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 730px;
    margin-left: 30px;
}


.sliderContainer .sliderButtonHolder {
    position: absolute;
    bottom: -15%;
    left: 47%;
}

.sliderContainer .sliderButtonHolder .sliderDots {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 3rem;
    background: #F2785C;
}

@keyframes slide {
    0% {
        transform: translateX(0%)
    }

    10% {
        transform: translateX(-100%)
    }

    20% {
        transform: translateX(-100%)
    }

    30% {
        transform: translateX(-100%)
    }

    40% {
        transform: translateX(-200%)
    }

    50% {
        transform: translateX(-200%)
    }

    60% {
        transform: translateX(-200%)
    }

    70% {
        transform: translateX(0%)
    }

    80% {
        transform: translateX(0%)
    }

    90% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(0%)
    }
}


#findMoreButton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 230px;
    height: 60px;
    top: 25px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 140px;
    color: white;
}