.headerAndPlanYourTrip {
    background-image: url(../img/headerAndSectionPic.png);
    color: white;
    background-repeat: no-repeat;
    size: 100%;
    width: 1440px;
    height: 765px;
}



header {
    display: flex;
    background-color: rgba(242, 120, 92, 0.5);
    height: 90px;
    /* justify-content: center; */
    align-items: center;


}

.headerLogo {
    display: flex;

    @font-face {
        src: url('../styles/fonts/Magra/Magra-Regular.ttf');
        src: url('../styles/fonts/Magra/Magra-Bold.ttf');
    }

    font-family: "Magra-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin-left: 120px;
}

.headerLogo div {
    white-space: nowrap;
    margin-left: 5px;
}

.headerNav {
    display: flex;
    margin-left: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.headerNav div {
    margin: 0 20px;
    white-space: nowrap;

}

.headerLoginBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 103px;
    height: 41px;
    top: 25px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    margin-left: 160px;
}

.planYourTrip {
    margin-left: 120px;
    height: 422px;
    width: 900px;
    margin-top: -40px;

}

.planYourTrip h1 {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 25px;
}

.planYTsuptext {
    margin-left: 5px;
    margin-bottom: 25px;
}